<?xml version="1.0"?>
<config>
  <modules>
    <Decidir_Decidir2>
      <version>1.0.5</version>
    </Decidir_Decidir2>
  </modules>
  <global>

    <helpers>
      <decidir2>
        <class>Decidir_Decidir2_Helper</class>
      </decidir2>
    </helpers>

    <models>
      <decidir2>
        <class>Decidir_Decidir2_Model</class>
        <resourceModel>decidir2_mysql4</resourceModel>
      </decidir2>
      <decidir2_mysql4>
        <class>Decidir_Decidir2_Model_Mysql4</class>
        <entities>
          <decidirtransaction>
            <table>decidirtransaction</table>
          </decidirtransaction>
          <decidirtoken>
            <table>decidirtoken</table>
          </decidirtoken>
        </entities>
      </decidir2_mysql4>
    </models>

    <blocks>
      <decidir2>
        <class>Decidir_Decidir2_Block</class>
      </decidir2>
      <adminhtml>
        <rewrite>
          <sales_order_creditmemo_totals>Decidir_Decidir2_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
        </rewrite>
      </adminhtml>
      <adminhtml>
        <rewrite>
          <sales_order_invoice_totals>Decidir_Decidir2_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
        </rewrite>
      </adminhtml>
      <adminhtml>
        <rewrite>
          <sales_order_totals>Decidir_Decidir2_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
        </rewrite>
      </adminhtml>
      <adminhtml>
        <rewrite>
          <sales_order_payment>Decidir_Decidir2_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
        </rewrite>
      </adminhtml>
      <sales>
        <rewrite>
          <order_totals>Decidir_Decidir2_Block_Sales_Order_Totals</order_totals>
        </rewrite>
      </sales>
      <sales>
        <rewrite>
          <order_invoice_totals>Decidir_Decidir2_Block_Sales_Order_Invoice_Totals</order_invoice_totals>
        </rewrite>
      </sales>
      <sales>
        <rewrite>
          <order_creditmemo_totals>Decidir_Decidir2_Block_Sales_Order_Creditmemo_Totals</order_creditmemo_totals>
        </rewrite>
      </sales>
    </blocks>

    <resources>
      <decidir_setup>
        <setup>
          <module>Decidir_Decidir2</module>
          <class>Mage_Sales_Model_Mysql4_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </decidir_setup>
      <decidir_setup_write>
        <connection>
          <use>core_write</use>
        </connection>
      </decidir_setup_write>
      <decidir_setup_read>
        <connection>
          <use>core_read</use>
        </connection>
      </decidir_setup_read>
    </resources>
    <events>
      <checkout_type_onepage_save_order_after> <!-- identifier of the event we want to catch -->
        <observers>
          <checkout_type_onepage_save_order_after_costofinanciero_handler> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>decidir2/newordertotalobserver</class> <!-- observers class alias -->
            <method>saveCostofinancieroTotal</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </checkout_type_onepage_save_order_after_costofinanciero_handler>
        </observers>
      </checkout_type_onepage_save_order_after>
    </events>
    <sales>
      <quote>
        <totals>
          <costofinanciero_total>
            <class>decidir2/quote_address_total_costofinanciero</class>
            <after>subtotal,freeshipping,tax_subtotal,shipping</after>
            <before>grand_total</before>
          </costofinanciero_total>
        </totals>
      </quote>
      <order_invoice>
        <totals>
          <costofinanciero_total>
            <class>decidir2/order_invoice_total_costofinanciero</class>
            <after>subtotal,freeshipping,tax_subtotal,shipping</after>
            <before>grand_total</before>
          </costofinanciero_total>
        </totals>
      </order_invoice>
      <order_creditmemo>
        <totals>
          <costofinanciero_total>
            <class>decidir2/order_creditmemo_total_costofinanciero
            </class>
            <after>subtotal,freeshipping,tax_subtotal,shipping, shipping_amount</after>
            <before>grand_total</before>
          </costofinanciero_total>
        </totals>
      </order_creditmemo>
    </sales>
  </global>
  <admin>
	<routers>
		<adminhtml>
			<args>
				<modules>
					<decidir_module before="Mage_Adminhtml">Decidir_Decidir2_Adminhtml</decidir_module>
				</modules>
			</args>
		</adminhtml>
	</routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <decidir2>
          <file>decidir2.xml</file>
        </decidir2>
      </updates>
    </layout>
  </adminhtml>
  <default>
    <payment>
      <decidir2>
        <model>decidir2/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Decidir</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </decidir2>
    </payment>
  </default>
  <frontend>
    <routers>
      <decidir2>
        <use>standard</use>
        <args>
          <module>Decidir_Decidir2</module>
          <frontName>decidir2</frontName>
        </args>
      </decidir2>
    </routers>
    <layout>
      <updates>
        <decidir2>
          <file>decidir2.xml</file>
        </decidir2>
      </updates>
    </layout>
  </frontend>
</config>
